[Unit]
Description=exergy heat web site
After=syslog.target network-online.target

[Service]
WorkingDirectory=/home/space/exergy/website
ExecStart=serve -l 7744 dist
ExecStop=pkill -f serve
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal
SyslogIdentifier=exergy-website
User=space
Group=users

[Install]
WantedBy=multi-user.target
