[Unit]
Description=exergy heat web site
After=syslog.target network-online.target

[Service]
WorkingDirectory=/home/space/exergy/website
ExecStart=npx serve dist -l 7744
ExecStop=pkill -f 7744
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal
SyslogIdentifier=exergy-website
User=space
Group=users

[Install]
WantedBy=multi-user.target
